.gameplay-container {
  display: flex;
  gap: 1rem;
}

.enemy-container,
.player-container {
  padding: 0.75rem;
  border-radius: var(--border-radius-100);
  box-shadow: var(--box-shadow-900);
  background: var(--clr-neutral-300);

  transition: var(--transition-900);
  opacity: 0.75;

  &.active {
    z-index: 1;
    opacity: 1;
    scale: 1.25;
    background: var(--clr-primary-800);
  }
}
// .enemy-container {
//   background: var(--clr-accent-900);
// }
// .player-container {
//   background: var(--clr-primary-800);
// }

.gameboard-container {
  --gameboard-border: 3px solid var(--clr-neutral-300);
  border-right: var(--gameboard-border);
  border-bottom: var(--gameboard-border);

  box-shadow: var(--box-shadow-100);
  background: var(--clr-neutral-100);

  .gameboard-row {
    display: flex;
  }

  .gameboard-cell {
    display: grid;
    place-items: center;

    font-family: var(--ff-main);
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--clr-neutral-700);

    border-left: var(--gameboard-border);
    border-top: var(--gameboard-border);

    width: min(4vw, 4vh);
    aspect-ratio: 1/1;

    transition: var(--transition-100);

    &:not(.pre-game-cell):not(.hit):not(.sunk):not(.miss):hover {
      background: var(--clr-primary-800);
    }

    &.hit {
      background: var(--clr-accent-900);
      svg {
        fill: var(--clr-neutral-100);
      }
    }

    &.miss {
      background: var(--clr-neutral-700);
    }

    &.sunk {
      background: var(--clr-neutral-900);

      svg {
        width: 75%;
        height: 75%;
        fill: var(--clr-neutral-100);
      }
    }

    &.player-cell {
      min-width: 1.5rem;
    }

    &.place-hover-valid {
      background: var(--clr-neutral-200);
    }

    &.place-hover-error {
      background: var(--clr-accent-900);
    }
    &[class*='ship'] {
      background: var(--clr-primary-800);
    }
  }
}
