.gameplay-container {
  display: flex;
  gap: 1rem;
}

.gameboard-container {
  --gameboard-border: 2px solid var(--clr-neutral-300);
  border-right: var(--gameboard-border);
  border-bottom: var(--gameboard-border);

  box-shadow: var(--box-shadow-100);
  background: var(--clr-neutral-100);

  .gameboard-row {
    display: flex;
  }

  .gameboard-cell {
    display: grid;
    place-items: center;

    font-family: var(--ff-main);
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--clr-neutral-700);

    border-left: var(--gameboard-border);
    border-top: var(--gameboard-border);

    min-width: 5vw;
    aspect-ratio: 1/1;

    &.hit {
      background: var(--clr-accent-900);
    }

    &.miss {
      background: var(--clr-neutral-200);
    }

    &.sunk {
      background: var(--clr-neutral-700);
    }

    &.player-cell {
      min-width: 1.5rem;
    }

    &.place-hover-valid {
      background: var(--clr-neutral-200);
    }

    &.place-hover-error {
      background: var(--clr-primary-200);
    }

    &[class*='ship'] {
      background: var(--clr-accent-100);

      &.place-hover-valid {
        background: var(--clr-neutral-200);
      }

      &.place-hover-error {
        background: var(--clr-primary-200);
      }
    }
  }
}
