@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-title: 'Passion One', cursive;
  --ff-main: 'Roboto', sans-serif;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #e2e2e2;
  --clr-neutral-300: #bdbdbd;
  --clr-neutral-700: #757575;
  --clr-neutral-900: #212121;
  --clr-accent-100: #ddf3c4;
  --clr-accent-900: #c34a4a;
  --clr-primary-100: #e4e6f1;
  --clr-primary-200: #c5cae9;
  --clr-primary-800: #3f51b5;
  --clr-primary-900: #303f9f;

  --box-shadow-100: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --box-shadow-900: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  --transition-100: all 0.2s ease-in-out;
  --transition-900: all 0.65s ease-in-out;
  --border-radius-900: 1rem;
  --border-radius-100: 0.5rem;
}

body {
  // page defaults
  font-family: var(--ff-main);
  color: var(--clr-neutral-900);
  background: var(--clr-neutral-100);

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  background: var(--clr-primary-800);
  color: var(--clr-neutral-100);
  fill: var(--clr-neutral-100);

  text-transform: uppercase;

  box-shadow: var(--box-shadow-900);

  .header-title {
    font-family: var(--ff-title);
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
  }

  .header-logo {
    width: 3rem;
  }
}

main {
  padding: 1rem;
  display: grid;
  place-items: center;
  background-color: var(--clr-primary-100);
}

.container {
  border: 3px solid var(--clr-neutral-300);
  padding: 1rem;
  max-width: 30rem;
  border-radius: var(--border-radius-900);
  box-shadow: var(--box-shadow-100);
}

//
// default styles
//

button {
  padding: 1rem 2rem;

  border-radius: var(--border-radius-100);
  outline: none;
  border: none;

  background: var(--clr-primary-800);
  color: var(--clr-neutral-100);

  font: inherit;
  font-size: 1.25rem;
  font-weight: 700;

  cursor: pointer;
  transition: var(--transition-100);

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-900);
  }
  &:active {
    background: var(--clr-primary-100);
    color: var(--clr-primary-900);
  }
}
