@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-title: 'Passion One', cursive;
  --ff-main: 'Roboto', sans-serif;

  --clr-neutral-100: #f3f3f3;
  --clr-neutral-900: #0a0a0a;
  --clr-accent-100: #133eb6;
}

body {
  // page defaults
  font-family: var(--ff-main);
  color: var(--clr-neutral-900);
  background: var(--clr-neutral-100);

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

header {
  text-align: center;
  padding-block: 1rem;

  .page-logo {
    max-width: 12rem;
  }

  .page-title {
    font-family: var(--ff-title);
    font-size: 5rem;
    font-weight: normal;

    color: var(--clr-neutral-900);
    text-transform: uppercase;
    line-height: 0.8;
  }

  .page-subtitle {
    text-transform: uppercase;
    line-height: 1;
  }
}
