@import './index.scss';

//
// main menu
//

.main-menu-card {
  display: grid;
  place-items: center;
  margin: 1rem;

  max-width: 45rem;

  background: var(--clr-neutral-100);
  border-radius: var(--border-radius-900);
  box-shadow: var(--box-shadow-100);

  .main-logo-container {
    position: relative;
    text-shadow: var(--box-shadow-900);

    .main-img {
      width: 100%;
      border-radius: var(--border-radius-900) var(--border-radius-900) 0 0;
    }

    .logo-text-container {
      position: absolute;
      color: var(--clr-neutral-100);
      bottom: 2rem;
      left: 2rem;
    }

    .main-title {
      font-family: var(--ff-title);
      font-size: min(15vw, 5rem);
      font-weight: normal;

      text-transform: uppercase;
      line-height: 0.8;
    }

    .main-subtitle {
      text-transform: uppercase;
      line-height: 1;
      font-size: min(3.5vw, 1.1rem);
    }
  }

  .instructions,
  .start-btn {
    margin-bottom: 1.5rem;
    margin-inline: 2rem;
  }

  .instructions {
    margin-top: 1.5rem;
    line-height: 1.6;
    font-size: 1.2rem;
  }
}
